.G-mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    visibility: hidden;
}

.G-mobile-menu:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out;
}

.G-mobile-menu.open {
    visibility: visible;
}

.G-mobile-menu.open:after {
    opacity: 1;
}

.G-mobile-menu .menu-wrapper {
    position: relative;
    z-index: 101;
    width: 80%;
    height: 100%;
    max-width: 400px;
    background-color: #131313;
    transition: all 0.4s;
    transform: translateX(100%);
    margin-left: auto;
    will-change: transform;
}

.G-mobile-menu.open .menu-wrapper {
    transform: translateX(0);
    will-change: transform;
}

.G-mobile-menu .menu-wrapper .menu-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
    padding: 40px 30px;
}

.G-mobile-menu .menu-wrapper .menu-content .nav-page {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    margin-bottom: auto;
}

.G-mobile-menu .menu-wrapper .menu-content .contact-us {
    margin-top: 40px;
    margin-bottom: 20px;
}

.G-mobile-menu .menu-wrapper .menu-content .events-container {
    width: 100%;
}

.G-mobile-menu .menu-wrapper .menu-content .events-container .btn {
    width: 100%;
}

.G-mobile-menu .menu-wrapper .menu-content .nav-page .btn-anchor {
    padding: 0;
    background-color: transparent;
    color: #fff;
    font-size: 18px !important;
    padding: 5px 0;
}
