@font-face {
    font-family: 'DrukWideCyr';
    src: url('./DrukWideCyr-bold.woff') format('woff'),
    url('./DrukWideCyr-bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}