@font-face {
    font-family: 'DrukWideCyr';
    src: local('DrukWideCyr'), local('DrukWideCyr'),
    url('./DrukWideCyr-bold.woff') format('woff'),
    url('./DrukWideCyr-bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}